In [ ]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from matplotlib import pyplot as plt
import re
from IPython.display import Image

plt.style.use('fivethirtyeight')

In [ ]:
DATA_URL = 'https://ids-storage-football-prediction.s3-eu-west-1.amazonaws.com/data_mmwd/listings_polarity_distance.csv'

In [ ]:
df = pd.read_csv(DATA_URL, index_col='Unnamed: 0')

In [ ]:
df.head()

       id                                           name  ... polarity  distance
0   36642            City Conveniences A Country Setting  ...   0.8070  3.177358
1   59258                Lower level of my house to rent  ...   0.9850  9.620935
2  158824             DOWNTOWN/GLEBE HOUSE WITH BACKYARD  ...   0.7430  2.194104
3  261065               Westboro Village Executive Suite  ...   0.8304  4.537074
4  336692  Quiet Room with a view in the Ottawa Downtown  ...   0.9537  0.813145

[5 rows x 14 columns]

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df['scaled_distance'] = scaler.fit_transform(1 / df[['distance']])

scaler = MinMaxScaler()
df['scaled_number_of_reviews'] = scaler.fit_transform(df[['number_of_reviews']])

scaler = MinMaxScaler()
df['scaled_polarity'] = scaler.fit_transform(df[['polarity']])

In [ ]:
df.head()

       id  ... scaled_polarity
0   36642  ...        0.892230
1   59258  ...        0.992090
2  158824  ...        0.856325
3  261065  ...        0.905358
4  336692  ...        0.974530

[5 rows x 17 columns]

In [ ]:
df.to_csv('listings_scalled.csv')