In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter
from scipy import stats
import seaborn as sns
from scipy.linalg import sqrtm
from sklearn.metrics import mean_squared_error
from math import sqrt
from geopy import distance

plt.style.use('fivethirtyeight')

In [ ]:
REVIEWS_URL = 'https://ids-storage-football-prediction.s3-eu-west-1.amazonaws.com/data_mmwd/reviews.csv'
REVIEWS_AND_POLARITY_URL = 'https://ids-storage-football-prediction.s3-eu-west-1.amazonaws.com/data_mmwd/reviews_en_polarity.csv'
CALENDAR_URL = 'https://ids-storage-football-prediction.s3-eu-west-1.amazonaws.com/data_mmwd/calendar.csv'
LISTINGS_URL = 'https://ids-storage-football-prediction.s3-eu-west-1.amazonaws.com/data_mmwd/listings.csv'
LISTINGS_POLARITY_URL = 'https://ids-storage-football-prediction.s3-eu-west-1.amazonaws.com/data_mmwd/listings_polarity_preprocess.csv'

In [ ]:
polarity_pre =  pd.read_csv(LISTINGS_POLARITY_URL )
polarity_pre.head()

       id  ... polarity
0   36642  ...   0.8070
1   59258  ...   0.9850
2  158824  ...   0.7430
3  261065  ...   0.8304
4  336692  ...   0.9537

[5 rows x 13 columns]

In [ ]:
center = (45.4190489, -75.7146491)

df = polarity_pre

distance_from_centre = pd.DataFrame(data={'name': df['name'], })

polarity_pre['distance'] = 0


for index, row in df.iterrows():
    place = (row['latitude'], row['longitude'])
    polarity_pre.loc[polarity_pre.name == row['name'], 'distance'] = distance.distance(center, place).km 
   

polarity_pre.head()

       id                                           name  ... polarity  distance
0   36642            City Conveniences A Country Setting  ...   0.8070  3.177358
1   59258                Lower level of my house to rent  ...   0.9850  9.620935
2  158824             DOWNTOWN/GLEBE HOUSE WITH BACKYARD  ...   0.7430  2.194104
3  261065               Westboro Village Executive Suite  ...   0.8304  4.537074
4  336692  Quiet Room with a view in the Ottawa Downtown  ...   0.9537  0.813145

[5 rows x 14 columns]

In [ ]:
polarity_pre.shape

(1981, 14)

In [ ]:
polarity_pre.to_csv('listings_polarity_distance.csv')