In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter
from scipy import stats
import seaborn as sns
from scipy.linalg import sqrtm
from sklearn.metrics import mean_squared_error
from math import sqrt

plt.style.use('fivethirtyeight')

In [ ]:
REVIEWS_URL = 'https://ids-storage-football-prediction.s3-eu-west-1.amazonaws.com/data_mmwd/reviews.csv'
REVIEWS_AND_POLARITY_URL = 'https://ids-storage-football-prediction.s3-eu-west-1.amazonaws.com/data_mmwd/reviews_en_polarity.csv'
CALENDAR_URL = 'https://ids-storage-football-prediction.s3-eu-west-1.amazonaws.com/data_mmwd/calendar.csv'
LISTINGS_URL = 'https://ids-storage-football-prediction.s3-eu-west-1.amazonaws.com/data_mmwd/listings.csv'

In [ ]:
reviews = pd.read_csv(REVIEWS_AND_POLARITY_URL)

In [ ]:
reviews.head()

   listing_id      id  ... language  polarity
0       36642   63694  ...       en    0.8070
1       36642   92464  ...       en    0.9850
2       36642  100164  ...       en    0.7430
3       36642  262662  ...       en    0.8304
4       36642  266613  ...       en    0.9537

[5 rows x 8 columns]

In [ ]:
df = reviews
list_listings_ids = df['listing_id']
cleaned_ids = []
for elem in list_listings_ids:
  if elem not in cleaned_ids:
    cleaned_ids.append(elem)

new_df = pd.DataFrame(data={'listing_id': cleaned_ids})

new_df['polarity'] = 0

for elem in cleaned_ids:
     help_df = df
     mean = help_df.loc[help_df['listing_id'] == elem]
     new_df.loc[new_df.listing_id == elem, 'polarity'] = help_df[['polarity']].mean(axis=1)


new_df.head()

   listing_id  polarity
0       36642    0.8070
1       59258    0.9850
2      158824    0.7430
3      261065    0.8304
4      336692    0.9537

In [ ]:
new_df.shape

(2183, 2)

In [ ]:
new_df.tail()

      listing_id  polarity
2178    45714208    0.9622
2179    45725137    0.9701
2180    45768503    0.9501
2181    45774987    0.8601
2182    45796523    0.9343

In [ ]:
new_df.to_csv('polarity_mean.csv')